<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Use Spring default values. -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <root level="info">
        <springProfile name="default | local">
            <appender-ref ref="Console" />
        </springProfile>
    </root>
</configuration>